body{
width: 100%;
height: 100%;
margin:0;

}

.container{
width: 100%;
height: 100vh;
background-color: rgb(25, 161, 173);
display: flex;
overflow:hidden;
align-items: center;
justify-content: center;
}

.image{
position: absolute;
height: 50%;
width: 50%;
}

.mustafa1{
top: -90%;
left:-40%
}

.mustafa2{
bottom: 10%;
right:-10%
}

.card{
display: flex;
flex-direction: column;
background-color: white;
border-radius: 10px;
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
position: relative;
}

.card-picture{
border-radius: 10px 10px 0 0;
}

.card-body{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.card-title{
display: flex;
flex-direction: column;
align-items: center;
 }

 .card-content{
display: flex;
justify-content: space-around;
width: 100%;
margin-bottom: 20px;
border-top: 1px solid rgb(199, 198, 198);
 }

 .color-gray{
color: grey;
 }

 .text-city{
margin-block-start: 0;
 }
 
 .card-numbers{
margin-block-end: 0;
 }

 .text-name{
 margin-block-end: 0.5em;
 }

 .card-profile{
position: absolute;
top: 25%;
left: 35%;
border-radius: 50px;
border: 3px solid white;
}
 
